h1{
    font-size: 50px;
}

body{
    background-color: silver;
}
h3{
    color: rgba(2, 38, 54, 0.966);
}
p{font-size: 18px;}

.bla{display: flex;
       }
.land{width: 50%;
     padding: 3%}
.kallu{color: black;
       width: 80%;
        padding: 5%;}
.bla{display: flex;
      margin-top: 100px;
       margin-left: 30px;}

h2{font-size: 50px;}
.kj{font-size: 30px;}
.third{display:flex}
.fourth{display: flex;}
.ko{display: flex;}

